@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@400;700&family=Roboto+Mono:wght@500&display=swap');

:root {
    --cor-fundo-escuro: #1a1a1d;
    --cor-fundo-card: #2c2c30;
    --cor-borda: #444;
    --cor-destaque-vermelho: #e50914;
    --cor-texto-principal: #f5f5f7;
    --cor-texto-secundario: #a0a0a0;
}

body {
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-texto-principal);
    font-family: 'Roboto', sans-serif; 
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.08'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 98vw;
    overflow-x: hidden;
    scrollbar-width: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
    color: var(--cor-texto-principal);
    letter-spacing: 1.2px;
}

.main {
    padding-bottom: 3rem;
}

a {
    color: var(--cor-destaque-vermelho);
}
